.App {
  padding: 20px;
}
.tab1 {
  margin-left: 8px;
}
.tab2 {
  margin-left: 16px;
}

.flex {
  display: flex;
}
.output,
.inputBox {
  width: 40%;
  border: 1px solid royalblue;
  min-height: 500px;
  margin: 0;
}
.block {
  display: block;
}

.btn {
  display: inline-block;
  border: 1px solid teal;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
